* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.logo {

    background-image: url(../img/logo\ solo.jpg);
    image-rendering: optimizeQuality;
        
}


.menu {
    color: white;
    background-color: rgb(186, 182, 182);
    list-style-type: none;
    padding: 1rem;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    
    
   
    

    display:flex;

    flex-direction:table-row;
    flex-wrap: wrap;

    justify-content: space-between;

    

}

.menu-item a{
    text-decoration: none;
    color:white
}

.logo {
    display: flex;
    justify-content: center;
}
    

h1{
    color:#4b4b4b;
    font-size: 50px;
    text-align: center;
    text-decoration:wavy;


}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:#4b4b4b;
}






.footer{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(186, 182, 182);
    list-style-type: none;
    padding: 1rem;
    font-size: 18px;
    font-style: normal;
    text-align: center;

}




