@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/titulos";
@import "./partials/logo";
@import "./partials/tarjetas";
@import "./partials/carrousel";
@import "./partials/video";
@import "./partials/piedepagina";


