.carousel-inner{
    margin-bottom: 15px;

    .presentacion{
        font-family: $fuenteprincipal;
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        color:$color;
        line-height: 1,5;
        text-align: center;
        
    
}
}