.navbar-brand{
        -webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .navbar-nav{
         -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
         animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
         
    .nav-link {
            -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    
    
    @for $nav from 1 through 5 {
            .nav-item-#{$nav} {
                    animation-delay: $nav*1s;
            }
    }  
    
        
    @-webkit-keyframes scale-in-tl {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
      }
      @keyframes scale-in-tl {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
      }
    
    
    @-webkit-keyframes scale-in-hor-left {
        0% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
      }
      @keyframes scale-in-hor-left {
        0% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
          opacity: 1;
        }
      }
      
      
    