.footer{
        margin:0;
        padding:0;
        box-sizing: border-box;
        color: white;
        background-color: rgb(186, 182, 182);
        list-style-type: none;
        padding: 1rem;
        font-size: 18px;
        font-style: normal;
        text-align: center;
    
    
    }

    

    



    
