.card-body{
    background-color:ghostwhite;

    .card-text{
        font-family: $fuenteprincipal;
        font-size: 25px;
        text-align: center;
        text-decoration:dotted;
    
        
        
        }
        .definiciones{
            font-family: $fuenteprincipal;
            font-size: 18px;
            text-align: center;


}


  

}